<html>
  <head>
    <link href="assets/styles.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <h1>Hello EJS</h1>
    
    <form method="post" action="/person">
      <input name="firstname" />
      <input name="lastname" />
      <button type="submit">Submit</button>
    </form>
    <script>
     var test = <%- JSON.stringify(people) %>
    </script>
  </body>
</html>